.table-schedule>tr>td{
    text-align: center;
}

.table-schedule .item>small{
    display: inline-block;
}

.table-schedule .item>label{
    display: inline-block;
}

.table-schedule .item, .list-schedule .item{
    border-bottom: gray dotted 1px;
}

.table-schedule .item_latest, .list-schedule .item_latest{
    border: none;
}

.list-schedule .item>*{
    margin : 2px;
}

.list-timePoint .glyphicon-alert{
    color: #999;
}

iframe{
    width: 100%;
    border: none;
}

.loading-container{
    width: 100%;
    height: 80px;
    padding: 20px 20px;
}

.sqs-block-summary-v2 * {
    /*position: relative;*/
    z-index: 1;
}

.summary-thumbnail:after {
    content: " ";
    height: 60px;
    width: 60px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    display: block;
    /*position: absolute;*/
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    left: 45%;
    border: 0.2em solid rgba(200, 200, 200, 0.5);
    border-left-color: #ffffff;
    border-radius: 50%;
}

@-moz-keyframes spin {100%{-moz-transform: rotate(360deg);}}
@-webkit-keyframes spin{100%{-webkit-transform: rotate(360deg);}}
@keyframes spin {100%{-webkit-transform: rotate(360deg); transform:rotate(360deg);}}