username=your username
password=your password
charset=GBK
delay=500
tableFormat=2
role=STU
userAgent=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8